@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --dark-purple: #31255a;
  --light-purple: #a299d3;
  --pale-blue: #75b4e3;
  --deep-purple: #54416d;
  --navy-blue: #2b235a;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: var(--light-purple);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(
    circle,
    var(--dark-purple) 0%,
    var(--navy-blue) 100%
  );
}

.main {
  border: solid 1px;
  border-radius: 15px;
  position: relative;
}

.search {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -150%);
  height: 35px;
  width: 200px;
  outline: none;
  border: none;
  border-radius: 15px;
  text-align: center;
  transition: 0.3s;
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--navy-blue);
  background-color: var(--light-purple);
}

.search::placeholder {
  color: var(--navy-blue);
}

.search:focus::placeholder {
  color: transparent;
}

.search:focus {
  width: 250px;
}

input[type="checkbox"] {
  margin-top: 10px;
  transition: 0.3s;
  appearance: none;
  height: 20px;
  width: 40px;
  border-radius: 50px;
  background-color: var(--deep-purple);
  box-shadow: inset 0 0 2px 0 rgb(32, 32, 32);
}

input[type="checkbox"]:checked {
  background-color: var(--light-purple);
}

input[type="checkbox"]:before {
  transition: 0.3s;
  position: absolute;
  transform: scale(1.1);
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background-color: white;
  box-shadow: -2px 2px 2px 0 rgb(32, 32, 32);
}

input[type="checkbox"]:checked:before {
  transform: scale(1.1) translateX(100%);
  box-shadow: 2px 2px 2px 0 rgb(32, 32, 32);
}

.current {
  height: 250px;
  width: 600px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 40px;
}

.left {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.temp {
  display: flex;
}

.temp .degree {
  flex-shrink: 0;
  font-size: 6rem;
  font-weight: 100;
}

.temp .unit {
  flex-shrink: 0;
  position: relative;
  top: 15px;
  font-size: 2rem;
  font-weight: 100;
}

.condition .icon {
  height: 50px;
}

.condition .text {
  font-size: 1.2rem;
  font-weight: 300;
}

.location .city {
  font-size: 1.5rem;
  font-weight: 100;
}

.location .country {
  margin-top: 2px;
  font-size: 1.2rem;
  font-weight: 300;
}

.forecast {
  display: flex;
  width: 600px;
  height: 120px;
}

.forecast .cell:first-of-type {
  border: none;
}

.forecast .cell {
  border-left: 1px solid;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.forecast .icon {
  height: 30px;
}

.loading::after {
  content: "";
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 70px;
  width: 70px;
  background: transparent;
  border: 10px solid var(--light-purple);
  border-top-color: var(--pale-blue);
  border-radius: 50px;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: translate(-50%, -50%) rotate(0turn);
  }
  to {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}

.loading.active::after {
  display: block;
}

@media (max-width: 650px) {
  body {
    width: 100vw;
    min-width: 300px;
    height: 100vh;
    margin: 1;
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: none;
    height: 100%;
    width: 100vw;
  }

  .search {
    position: static;
    transform: translate(0, 0);
    margin: 15px 0;
    width: 80%;
    min-width: 200px;
  }

  .search:focus {
    width: 80%;
    min-width: 200px;
  }

  .unit-choice {
    margin-top: 20px;
    position: static;
    transform: translateX(0);
  }

  .current {
    width: 100%;
    padding: 0;
  }

  .current .degree {
    font-size: 5rem;
  }

  .forecast {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    height: 120px;
    overflow-y: hidden;
    overflow-x: scroll;
  }

  .forecast .cell:first-of-type {
    border: none;
    flex-shrink: 0;
  }

  .forecast .cell {
    border-left: 1px solid;
    width: 100px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--deep-purple);
  }

  .forecast .icon {
    height: 30px;
  }
}
