@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --Purple: #31255a;
  --White: #a59aca;
  --Dark-Purple: #54416d;
  --Navy-Blue: #2b235a;
}

* {
  color: var(--White);
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    var(--Purple) 0%,
    var(--Dark-Purple) 100%
  );
}

.search {
  transition: 0.3s;
  margin: 20px auto;
  height: 35px;
  background-color: var(--White);
  text-align: center;
  border-radius: 50px;
  border: none;
  color: var(--Purple);
  font-size: 1rem;
  width: 80vw;
}

.search::placeholder {
  color: var(--Dark-Purple);
}

.search:focus {
  font-size: 1.4rem;
  border: none;
  outline: none;
  width: 90vw;
  height: 45px;
}

.main {
  display: none;
}

.main.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  display: none;
}

.loader.active {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  top: 100px;
}

.loader:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 8px solid var(--Dark-Purple);
  border-top-color: var(--White);
  animation: loading 0.6s infinite;
}

@keyframes loading {
  from {
    transform: translateX(-50%) rotate(0turn);
  }
  to {
    transform: translateX(-50%) rotate(1turn);
  }
}

.current {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left {
  order: 2;
}

.left,
.left .condition .icon,
.left .condition .text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left .temp {
  display: flex;
}

.left .degree {
  font-size: 6rem;
}

.left .unit {
  font-size: 2rem;
  margin-top: 10px;
}

.left .condition {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left .condition .icon {
  height: 80px;
  margin: 0;
}

.left .condition .text {
  font-size: 1.2rem;
}

.unit-choice {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.unit-choice input {
  appearance: none;
  position: relative;
  height: 15px;
  width: 30px;
  border-radius: 50px;
  background-color: var(--White);
  box-shadow: inset 0 0 2px 0 black;
  transition: 0.3s;
}

.unit-choice input:checked {
  background-color: var(--Dark-Purple);
  box-shadow: inset 0 0 2px 0 black;
}

.unit-choice input:after {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  transform: scale(1.2);
  background-color: white;
  box-shadow: -1px 1px 2px 0 black;
  transition: 0.3s;
}

.unit-choice input:checked:after {
  transform: scale(1.2) translateX(100%);
  box-shadow: 1px 1px 2px 0 black;
}

.location {
  font-size: 1.2rem;
  text-align: center;
}

.city {
  font-size: 1.3rem;
  font-weight: 600;
}

.forecast {
  position: relative;
  border-radius: 15px;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.13);
  min-width: 200px;
  width: 90vw;
  padding: 0 20px;
}

.cell {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  width: 100%;
  height: 50px;
  border-top: 1px solid;
}

.cell:first-child {
  border: none;
}

.cell .day,
.cell .degree {
  display: flex;
  align-items: center;
}

.cell .day {
  justify-content: flex-start;
}

.cell .degree {
  justify-content: flex-end;
}

.forecast .icon {
  height: 35px;
  margin: auto;
}

.error {
  display: none;
}

.error.active {
  display: block;
  text-align: center;
}

@media screen and (min-width: 900px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .search {
    width: 300px;
  }

  .search:focus {
    width: 400px;
  }

  .current {
    flex-direction: row;
    width: 60vw;
    max-width: 700px;
    padding: 20px;
    gap: 30px;
    align-items: flex-start;
    justify-content: space-between;
  }

  .current .left {
    align-items: flex-start;
  }

  .current .location {
    order: 2;
    text-align: start;
    margin-top: 10px;
  }

  .forecast {
    width: 60vw;
    max-width: 700px;
    height: 130px;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .cell {
    all: initial;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 80%;
    border-left: 1px solid var(--White);
  }

  .unit-choice {
    margin: 0;
  }

  .unit-choice input {
    height: 20px;
    width: 40px;
  }

  .unit-choice input:after {
    height: 20px;
    width: 20px;
  }
}
