@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --dark-purple: #31255a;
  --light-purple: #a299d3;
  --pale-blue: #75b4e3;
  --deep-purple: #54416d;
  --navy-blue: #2b235a;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: var(--light-purple);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(
    circle,
    var(--dark-purple) 0%,
    var(--navy-blue) 100%
  );
}

.main {
  border: solid 1px;
  border-radius: 15px;
}

.search {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -150%);
  height: 35px;
  width: 200px;
  outline: none;
  border: none;
  border-radius: 15px;
  text-align: center;
  transition: 0.3s;
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--navy-blue);
  background-color: var(--light-purple);
}

.search::placeholder {
  color: var(--navy-blue);
}

.search:focus::placeholder {
  color: transparent;
}

.search:focus {
  width: 250px;
}

.current {
  height: 250px;
  width: 600px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 40px;
}

.left {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.temp {
  display: flex;
}

.temp .degree {
  flex-shrink: 0;
  font-size: 6rem;
  font-weight: 100;
}

.temp .unit {
  flex-shrink: 0;
  position: relative;
  top: 15px;
  font-size: 2rem;
  font-weight: 100;
}

.condition .icon {
  height: 50px;
}

.condition .text {
  font-size: 1.2rem;
  font-weight: 300;
}

.location .city {
  font-size: 1.5rem;
  font-weight: 100;
}

.location .country {
  margin-top: 2px;
  font-size: 1.2rem;
  font-weight: 300;
}

.forecast {
  display: flex;
  width: 600px;
  height: 120px;
}

.forecast .cell:first-of-type {
  border: none;
}

.forecast .cell {
  border-left: 1px solid;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.forecast .icon {
  height: 30px;
}
